<div class="content">
    <div>
        <center>
            <header>
                <a href="http://icea-conf.github.io/2024"><img src="https://icea-conf.github.io/2024/image/ICEA2024-Banner.png" alt="" style="max-width: 100%; height: auto;"></a>
            </header>

            <h3><a style="text-decoration:none" href='http://icea-conf.github.io/2024'> Home</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/committee/'>Conference Committee</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/papers/'>Call for Papers</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/submission/'>Paper Submission</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/registration/'>Registration</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/program/'>Program</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/keynote'>Keynote Speech</a> | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/best_papers/'>Best Papers</a>
            | <a style="text-decoration:none" href='http://icea-conf.github.io/2024/venue/'>Venue</a>
            
            </h3>
        <center>
    </div>
</div>
<hr>
